.alert {
  margin:0 auto 1rem ;
  position: absolute;
  left: 0;
  right: 0;
  width: 400px;
  
  padding: 15px;
  .description{
    font-size: $font-size-sm;
  }
  .close {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  .message {
    font-size: $font-size-lg;
    margin-bottom: 4px;
  }
}
.alert-success {
  @include alert-style($primary, $primary, $white)
}
.alert-defalut {
  @include alert-style($white, $white, $primary)
}

.alert-danger {
  @include alert-style($danger, $danger, $white)
}
.alert-warning {
  @include alert-style($warning, $warning, $white)
}