.alert {
  margin-bottom: 1rem;
  position: relative;
  padding: 15px;
  .description{
    font-size: $font-size-sm;
  }
  .close {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  .message {
    font-size: $font-size-lg;
    margin-bottom: 4px;
  }
}
.alert-success {
  @include alert-style($primary, $primary, $white)
}